<div class="mar-20">
  <form>
    <div class="clearfix">
      <div class="float-left">
        <img src='./assets/img/avatar.png' class="img-thumbnail">
      </div>
      <div class="float-right">
          <mat-form-field>
              <textarea matInput placeholder="Textarea" name="comment" id="comment"  #comment></textarea>
              <mat-hint align="end">{{comment.value?.length || 0}}/10</mat-hint>
          </mat-form-field>
          <div class="text-right">
            <button mat-raised-button color="primary">Comment</button>
          </div>
      </div>
    </div>
  </form>
</div>
<div class="clearfix mar-20">
    <div class="float-left">
      <img src='./assets/img/avatar.png' class="img-thumbnail">
    </div>
    <div class="float-right">
        Please write your page here!Use this editor to write and publish
         your page fast and in time. You have the option to save your work and continue some other time.
    </div>
  </div>
  <div class="clearfix mar-20">
      <div class="float-left">
        <img src='./assets/img/avatar.png' class="img-thumbnail">
      </div>
      <div class="float-right">
          Please write your page here!Use this editor to write and publish
           your page fast and in time. You have the option to save your work and continue some other time.
           Please write your page here!Use this editor to write and publish
           your page fast and in time. You have the option to save your work and continue some other time.
      </div>
    </div>
    <div class="clearfix mar-20">
        <div class="float-left">
          <img src='./assets/img/avatar.png' class="img-thumbnail">
        </div>
        <div class="float-right">
            Please write your page here!Use this editor to write and publish
             your page fast and in time. You have the option to save your work and continue some other time.
             Please write your page here!Use this editor to write and publish
             your page fast and in time. You have the option to save your work and continue some other time.
        </div>
      </div>
      <div class="clearfix mar-20">
          <div class="float-left">
            <img src='./assets/img/avatar.png' class="img-thumbnail">
          </div>
          <div class="float-right">
              Please write your page here!Use this editor to write and publish
               your page fast and in time. You have the option to save your work and continue some other time.
               Please write your page here!Use this editor to write and publish
               your page fast and in time. You have the option to save your work and continue some other time.
          </div>
        </div>
        <div class="clearfix mar-20">
            <div class="float-left">
              <img src='./assets/img/avatar.png' class="img-thumbnail">
            </div>
            <div class="float-right">
                Please write your page here!Use this editor to write and publish
                 your page fast and in time. You have the option to save your work and continue some other time.
                 Please write your page here!Use this editor to write and publish
                 your page fast and in time. You have the option to save your work and continue some other time.
            </div>
          </div>
