
<main *ngIf="page">
  <div class="page">
    <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-lg-8">
                <button class="menu-button" mat-icon-button [matMenuTriggerFor]="pageMenu">
                    <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #pageMenu="matMenu" xPosition="before">
                    <a mat-menu-item>Report</a>
                    <a mat-menu-item routerLink="/collections/editpage/{{page.title | slugify}}"
                    [queryParams]="{ key: page.$key}" [fragment]="page.collectionKey">Edit Page</a>
                    </mat-menu>
                <mat-card-header>
                    <mat-card-title class="h1" [innerHTML]="page.title"></mat-card-title><span class="text-muted"><em>{{page.status}}</em></span>
                    <mat-card-subtitle>
                      <img  mat-card-avatar [src]="page.photoURL" [alt]="page.uid">
                        <a routerLink=""> Oj Obasi</a>
                        posted on <a routerLink=""><strong>{{page.collection}}</strong></a> <span>{{page.createdAt}}</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <app-share class="mar-30"></app-share>
              <div  [innerHTML]="page.page"></div>
            </div>
            <div class="col-lg-4 content-right">
                <app-ads-content-match></app-ads-content-match>

                <mat-nav-list>
                    <div class="display-5">Related Pages:</div>
                    <a  routerLink="/collections/c/mark-_-eye-sjss/pages/{{pageOf.title | slugify }}/{{pageOf.$key}}"
                    [fragment]="pageOf.collectionKey" mat-list-item *ngFor="let pageOf of pages; let i = index">
                      <ng-container *ngIf="i < 5">
                         {{pageOf.title}}
                      </ng-container>
                    </a>
                  </mat-nav-list>

            </div>
          </div>
        </mat-card-content>
    </mat-card>
  </div>

</main>
