
<main class="main" id="home" *ngIf="collection">
    <div class="main-collect container-fluid">
        <div class="main-collect row">
            <div #router></div>
          <div class="left main-collect col-lg-3"  >
              <mat-card class="collections  w-100 afix" [style.background]="collection.color">
                  <collection-menu (route)='onRoute($event)' [collection]="collection" (delete)="onDelete($event)"></collection-menu>
              </mat-card>
          </div>
          <div  class="main-collect col offset-lg-3">
               <!-- <collection-header [collection]="collection" (route)='onRoute($event)'></collection-header>-->
            <div class="mobile-container">
               <router-outlet></router-outlet>
             </div>
          </div>
        </div>
      </div>
</main>

