<main class="main">
    <div class="container-fluid">
        <div class="row">
      <div class="col-lg-2">
          <app-ads-right-2 class="mar-20"></app-ads-right-2>
      </div>
      <div  class="col-lg-10">

          <div  class="row">
              <a class="col-md-4 mar-20" *ngFor="let collection of collections | async" routerLink="{{collection.title | slugify }}" fragment="{{collection.id}}">
                  <button mat-raised-button class="checkit"> Check it</button>
                    <mat-card class="collection-card" [style.background]="collection.color">
                        <img mat-card-image mat-elevation-z2 [src]="collection.photoURL" alt="{{collection.title}}">
                        <mat-card-title class="collection-name">
                            {{collection.title}}
                        </mat-card-title>
                        <mat-card-subtitle class="text-muted">
                            {{collection.creator}}
                        </mat-card-subtitle>
                        <mat-card-content>
                          <p>
                              {{collection.description | shorten: 100:'..'}}
                          </p>
                        </mat-card-content>
                      </mat-card>
                </a>
           <!--<ng-masonry-grid
                [masonryOptions]="{ transitionDuration: '0.4s', gutter: 15 }"
                [useAnimation]="true"
                [useImagesLoaded]="true"
             >
            <ng-masonry-grid-item *ngFor="let collection of cols | async">
              <a routerLink="{{collection.title | slugify }}" fragment="{{collection.id}}">
                <button mat-raised-button class="checkit"> Check it</button>
                  <mat-card class="collection-card" [style.background]="collection.color">
                      <img mat-card-image mat-elevation-z2 [src]="collection.photoURL" alt="{{collection.title}}">
                      <mat-card-title class="collection-name">
                          {{collection.title}}
                      </mat-card-title>
                      <mat-card-subtitle class="text-muted">
                          {{collection.creator}}
                      </mat-card-subtitle>
                      <mat-card-content>
                        <p>
                            {{collection.description | shorten: 100:'..'}}
                        </p>
                      </mat-card-content>
                    </mat-card>
              </a>
            </ng-masonry-grid-item>
            </ng-masonry-grid>-->
            </div>
         </div>
         </div>
    </div>
  </main>
