


.collection-card img {
  height: 200px;
}
.collection-card {
  color: #fff;
  height: 350px;
}
.checkit {
  position: absolute;
  top: 35px;
  left: 25px;
  z-index: 999;
}
.collection-name {
  position: absolute;
  top: 150px;
}
.text-muted {
  color: rgba(255,255,255,0.54) !important;
}
