<div class="card-header">
    <div class="row">
      <div class="col-md-8">
          <!--<button mat-icon-button (click)="iheading()"><mat-icon>home</mat-icon></button>-->
          <button mat-icon-button (click)="iBold()"><mat-icon>format_bold</mat-icon></button>
          <button mat-icon-button (click)="iItalic()"><mat-icon>format_italic</mat-icon></button>
          <button mat-icon-button (click)="iUnderline()"><mat-icon>format_underlined</mat-icon></button>
          <button mat-icon-button (click)="iForeColor()"><mat-icon>color_lens</mat-icon></button>
          <button mat-icon-button (click)="iFontSize()"><mat-icon>format_size</mat-icon></button>
          <button mat-icon-button (click)="ijustifyCenter()"><mat-icon>format_align_center</mat-icon></button>
          <button mat-icon-button (click)="iHorizontalRule()"><mat-icon>border_horizontal</mat-icon></button>
          <button mat-icon-button (click)="iUnorderedList()"><mat-icon>format_list_numbered</mat-icon></button>
          <button mat-icon-button (click)="iOrderedList()"><mat-icon>format_list_bulleted</mat-icon></button>
          <button mat-icon-button (click)=" istrikeThrough()"><mat-icon>format_strikethrough</mat-icon></button>
          <button mat-icon-button (click)="iLink()"><mat-icon>insert_link</mat-icon></button>
          <button mat-icon-button (click)="iImage()" title="Insert a Photo"><mat-icon>photo</mat-icon></button>
          <!--<button mat-icon-button (click)="enableObjectResizing()"><mat-icon>photo</mat-icon></button>-->
      </div>
      <div class="col-md-4">
          <div class="text-right">
              <small class="text-muted"><em [innerHTML]="notifyTXT"></em></small>
              <div class="button-row">
              <button mat-raised-button  title="Save Draft" (click)="onDraft()" [disabled]="!disabled || !draftAbled">
                  <app-spinner name="draftspinner"
                  [(show)]="draftspinner"><i class="fa fa-spinner fa-spin"></i></app-spinner>
                  <mat-icon color="primary" >drafts </mat-icon> <span>Save Draft</span>
                </button>
               <button mat-raised-button  title="Publish Page" (click)="onPublish()" [disabled]="!disabled || !publishAbled">
                  <app-spinner name="publishspinner"
                  [(show)]="publishspinner"><i class="fa fa-spinner fa-spin"></i></app-spinner>
                 <mat-icon color="primary" >publish </mat-icon> <span>Publish</span>
                </button>
               </div>
           </div>
      </div>
    </div>
 </div>
 <div class="card-block">
    <iframe  class="richtextfield make-full-height" #richtextarea (mouseout)="isContent()"></iframe>
</div>
<div class="card-footer">
    <small class="text-muted">Editor by Oj Obasi</small>
 </div>

