<main class="main" *ngIf="!submitted" [@myAnimation]>
  <div class="container-fluid">
      <mat-card>
        <div class="card">
            <div class="card-header">
                <div class="card-block">
                    <form  #pageForm="ngForm">
                      <div class="row">
                        <div class="col-md-6">
                            <div class="h4">Otenn Page Editor</div>
                            <p>Use this editor to write and publish your page fast and in time. You have the option to save your work and continue some other time.</p>
                        </div>
                        <div class="col-md-6 text-right">

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                        <mat-form-field class="w-100 form-control">
                            <mat-select  placeholder="Choose a Collection" disableRipple [value]="collection" [ngModel]="section"
                            name="collection"  #collection  required>
                              <mat-option  [value]="section">{{section}}</mat-option>
                            </mat-select>
                            <mat-hint align="end">Click to select ^</mat-hint>
                          </mat-form-field>
                        </div>
                        <div class="col-md-8">
                        <mat-form-field class="w-100 form-control">
                            <input matInput placeholder="Enter your blog title here!"   value="title"  ngModel
                            name="title" #title minlength="30" maxlength="100" required>
                            <mat-hint align="end">{{title.value?.length || 0}}/100</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 mar-20">
                        <mat-form-field class="w-100 form-control">
                          <textarea matInput class="form-control"  placeholder="Enter A Short Description For Your page"
                   name="description" #description ngModel rows="5" required minlength="70" maxlength="150"></textarea>
                          <mat-hint align="end">{{description.value?.length || 0}}/150</mat-hint>
                         </mat-form-field>
                         </div>
                      </div>
                    </form>
                </div>
                <div class="alert alert-warning" *ngIf="!pageForm.valid && pageForm.touched"><strong>Invalid Content!</strong> Please Select a collection and enter a valid title!</div>
            </div>
            <app-wysiwyg  (publish)="onPublish($event)"  (draft)="onDraft($event)" [page]="page"></app-wysiwyg>
        </div>
      </mat-card>
  </div>
</main>
<main class="main collection-input" *ngIf="addImg" [@myAnimation]>
   <div class="container-fluid">
      <mat-card>
        <div class="text-center">
            <h1 class="h3">Add An Image For this page</h1>
            <p class="text-muted">Helps your page card to standout!</p>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col-md-12  mar-20 text-center">
                <div *ngIf="currentUpload" class="text-center mar-30" >
                    <mat-progress-bar mode="determinate" value="{{ currentUpload?.progress }}"></mat-progress-bar>
                     <div class="alert alert-info">Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete</div>
                </div>
          </div>
          <div class="col-md-12 ">
                <div class="upload-btn-wrapper">
                    <button mat-raised-button class="btn" color="warn">Select File</button>
                    <input type="file" id="file" #file accept="image/*"
                    (change)="detectFiles($event)">
                  </div>
                  <mat-card class="collection-card">
                      <img mat-card-image mat-elevation-z2 [src]="photoUrl || '.assets/img/photo.jpg'" alt="{{title}}">
                      <mat-card-title class="collection-name">
                          {{title}}
                      </mat-card-title>
                      <mat-card-subtitle class="text-muted">
                          Oj Obasi
                      </mat-card-subtitle>
                      <mat-card-content>
                        <p>
                            {{description | shorten: 100:'..'}}
                        </p>
                        <a
                         routerLink="/collections/c/{{section | slugify }}/{{component | slugify }}/{{title | slugify }}/{{$key}}"
                         fragment="{{collectionKey}}" mat-raised-button color="accent" class="w-100 padding-10">View Page</a>
                      </mat-card-content>
                    </mat-card>
          </div>
        </div>
      </mat-card>
   </div>
</main>
