.recent-card img{
  max-height: 200px;
}
.recent-card h3 {
  position: absolute;
  top: 30px;
  font-size: 1.5rem;
  font-weight: 900;
  color: #ffffff;
}
.mat-card.recent-card {
  overflow: hidden;
}
