<app-notify></app-notify>
<mat-drawer-container class="nav-container"
autosize
[class.side-is-mobile]="mobileQuery.matches"
>
<app-header [mobilequery]="mobileQuery.matches"
(toggleDrawer)="onToggle($event)"
></app-header>


<mat-drawer   #drawer class="nav-sidenav" mode="over">
  <div class="card-header">Side Menu</div>
<mat-nav-list>
    <a mat-list-item routerLink="collections/c/" routerLinkActive="active"><mat-icon>pages</mat-icon> <span>Collections</span> </a>
    <a mat-list-item><mat-icon>send</mat-icon> <span>Send Money</span> </a>
    <a mat-list-item><mat-icon>pages</mat-icon> <span>Blogs</span> </a>
    <a mat-list-item><mat-icon>business_center</mat-icon> <span>Become a Dealer</span> </a>
    <a mat-list-item><mat-icon>supervisor_account</mat-icon> <span>Otenn Users</span> </a>
    <a mat-list-item routerLink="about" routerLinkActive="active"><mat-icon>info_outline</mat-icon> <span>About Otenn</span> </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="contact" routerLinkActive="active"><mat-icon>mail</mat-icon> <span> Contact Us </span></a>
    <a mat-list-item><mat-icon>help</mat-icon> <span>Frequently Asked Questions</span> </a>
    <a mat-list-item><mat-icon>trending_up</mat-icon> <span>Getting started</span> </a>
  </mat-nav-list>
</mat-drawer>

  <router-outlet></router-outlet>

  <app-footer></app-footer>
</mat-drawer-container>
<!--<div class="side-container" [class.side-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="side-toolbar mat-elevation-z6">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="side-app-name"><img src="./assets/logo.png"></h1>
  </mat-toolbar>

  <mat-sidenav-container class="side-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>-->

