<!--<app-spinner *ngIf="!Onload" name="appSpinner" [(show)]="appSpinner" class="text-muted"><i class="fa fa-spinner fa-spin fa-4x"></i></app-spinner>-->

<mat-spinner *ngIf="!Onload"  color="primary"></mat-spinner>
<!--<ng-container *ngIf="user$ | async as user">-->
<mat-card class="signup nopadding mat-elevation-z6" *ngIf="Onload">
    <div  class="card-header">
       <div class="pull-left font-went-bold h3">
            <mat-icon aria-hidden="true" color="primary">fingerprint</mat-icon> Sign In to Your Acount!
       </div>
       <button mat-icon-button class="pull-right"  (click)="onClose()"><mat-icon>close</mat-icon></button>
       <div class="clearfix"></div>
    </div>
    <div class="container signupbuttons">
        <div class="row mar-20">
          <div class="col-md-12">
            <button mat-raised-button class="facebook font-weight-bold"
            (click)="_auth.facebookLogin()"><app-spinner name="mySpinnerf" [(show)]="spinnerShowingf"><i class="fa fa-spinner fa-spin"></i></app-spinner><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i> Continue with facebook</button>
          </div>
          <div class="col-md-12">
              <button mat-raised-button class="google font-weight-bold"
              (click)="_auth.googleLogin()"><app-spinner name="mySpinnerg" [(show)]="spinnerShowingg"><i class="fa fa-spinner fa-spin"></i></app-spinner><i class="fa fa-google fa-2x" aria-hidden="true"></i> Continue with Google</button>
          </div>
        </div>

        <div class="mar-10">
            <small class="text-muted">By signing up, you agree to our Terms of Use and Privacy Policy.</small>
        </div>
      </div>
   <!--  <div class="or-cl"><span>Alternatively</span></div>
   <div class="container">
    <mat-tab-group>
        <mat-tab label="Log In ">

          <form (ngSubmit)="onLogin(f1)" #f1="ngForm">
            <div class="signup-account">
                <mat-form-field class="w-100">
                   <mat-icon matPrefix class="text-muted">mail</mat-icon>
                   <input matInput placeholder="E-mail" type="email" id="email" name="email" ngModel>
                </mat-form-field>
            </div>
            <div class="">
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="text-muted">fingerprint</mat-icon>
                    <input matInput placeholder="Password"
                    type="password"
                    id="password"
                    name="password"
                    ngModel
                    >
                </mat-form-field>
            </div>

        <div class="signupbuttons">
            <button mat-raised-button color="primary" class="w-100" [disabled]="!f1.valid">Log In</button>
            <div class="text-muted text-center">
                or <a routerLink="">Forgot Password</a>
            </div>
        </div>
        </form>
        </mat-tab>
        <mat-tab label="Sign Up">
              <form (ngSubmit)="onSignup(f)" #f="ngForm">
                  <div class="signup-account">
                   <!-- <mat-form-field class="w-100">
                         <mat-icon matPrefix class="text-muted">account_circle</mat-icon>
                          <input matInput placeholder="User-Name">
                     </mat-form-field>-->
                     <!--
                   <mat-form-field class="w-100">
                           <mat-icon matPrefix class="text-muted">mail</mat-icon>
                           <input matInput placeholder="E-mail" type="email" id="email" name="email" ngModel>
                     </mat-form-field>

                        <mat-form-field class="w-100">
                            <mat-icon matPrefix class="text-muted">fingerprint</mat-icon>
                            <input matInput placeholder="Password" type="password"
                            id="password"
                            name="password"
                            ngModel>
                        </mat-form-field>
                    </div>

                <div class="signupbuttons">
                    <button mat-raised-button color="primary" class="w-100" type="submit" [disabled]="!f.valid">Sign Up</button>
                    <div class="text-muted text-center">
                        or <a routerLink="">Sign In</a>
                    </div>
                </div>
            </form>
        </mat-tab>
    </mat-tab-group>
    <div class="mar-10">
        <small class="text-muted">By signing up, you agree to our Terms of Use and Privacy Policy.</small>
    </div>

   </div>-->

</mat-card>
<!--</ng-container>-->


