.forums .mat-list-item{
  height: auto !important;
}
h2 {
  display: block;
}
.forums .mat-nav-list .mat-list-item .mat-list-item-content {
  display: inline-block !important;
}
.forums .mat-nav-list .mat-list-item h3{
  color:  rgb(0, 96, 100) !important;
}
.mat-nav-list a {
  color: rgb(26, 25, 25);
}
