<section #pageRef>
  <div class="row forum"  *ngIf="collection" >
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" [ngStyle]="{'background-color': collection.color}">
                 <img [src]='collection.photoURL' [alt]='collection.title' class="img-thumbnail forum-user-1">
                 <div class="auth-1 font-wight-bold">Oj Obasi Forum Author</div>
                 <div><small class="text-muted">30 days ago</small></div>
                 <button mat-button class="auth-1-right" color="warn"><mat-icon>reply</mat-icon> Reply</button>
        </div>
        <div class="card-block">
          <h1 class="font-weight-bold h3 main-title">How to Esl lessons and lesson plans. Available in printable formats.</h1>
          come to Esl lesson plans collection
  Download free Esl lessons and lesson plans. Available in printable formats. You can also share your lesson plans here..
  In this collection, you can post blogs, forums, photos, videos on this topic.
        </div>
        <div class="card-footer">
            <span class="date">Posted 2018/03/31</span>
           <button mat-button class="float-right" color="warn"><mat-icon>reply</mat-icon> Reply</button>
        </div>
      </div>

      <div class="card mar-20">
          <div class="connector" [ngStyle]="{'background-color': collection.color}"></div>
        <div class="card-header">
                <img  [src]='collection.photoURL' [alt]='collection.title' class="img-thumbnail forum-user" [ngStyle]="{'background-color': collection.color}">
                <span >Oj Obasi Said:</span>
                <button mat-button class="auth-1-right-1" >9484 <mat-icon>favorite_border</mat-icon></button>
        </div>
        <div class="card-block">
          come to Esl lesson plans collection
  Download free Esl lessons and lesson plans. Available in printable formats. You can also share your lesson plans here..
  In this collection, you can post blogs, forums, photos, videos on this topic.
        </div>
        <div class="card-footer">
            <span class="date">Posted 2018/03/31</span>
            <button mat-button class="float-right" color="warn"><mat-icon>reply</mat-icon> Reply</button>
        </div>
      </div>
      <div class="card mar-20">
          <div class="connector" [ngStyle]="{'background-color': collection.color}"></div>
        <div class="card-header">
                <img  [src]='collection.photoURL' [alt]='collection.title' class="img-thumbnail forum-user" [ngStyle]="{'background-color': collection.color}">
                <span >Oj Obasi Said:</span>
                <button mat-button class="auth-1-right-1" >9484 <mat-icon>favorite_border</mat-icon></button>
        </div>
        <div class="card-block">
          come to Esl lesson plans collection
  Download free Esl lessons and lesson plans. Available in printable formats. You can also share your lesson plans here..
  In this collection, you can post blogs, forums, photos, videos on this topic.
        </div>
        <div class="card-footer">
           <span class="date">Posted 2018/03/31</span>
           <button mat-button class="float-right" color="warn"><mat-icon>reply</mat-icon> Reply</button>
        </div>
      </div>
      <div class="card mar-20">
          <div class="connector" [ngStyle]="{'background-color': collection.color}"></div>
        <div class="card-header">
                <img  [src]='collection.photoURL' [alt]='collection.title' class="img-thumbnail forum-user" [ngStyle]="{'background-color': collection.color}">
                <span >Oj Obasi Said:</span>
                <button mat-button class="auth-1-right-1" >9484 <mat-icon>favorite_border</mat-icon></button>
        </div>
        <div class="card-block">
          come to Esl lesson plans collection
  Download free Esl lessons and lesson plans. Available in printable formats. You can also share your lesson plans here..
  In this collection, you can post blogs, forums, photos, videos on this topic.
        </div>
        <div class="card-footer">
           <span class="date">Posted 2018/03/31</span>
           <button mat-button class="float-right" color="warn"><mat-icon>reply</mat-icon> Reply</button>
        </div>
      </div>
      <div class="card mar-20">
          <div class="connector" [ngStyle]="{'background-color': collection.color}"></div>
        <div class="card-header">
                <img  [src]='collection.photoURL' [alt]='collection.title' class="img-thumbnail forum-user" [ngStyle]="{'background-color': collection.color}">
                <span >Oj Obasi Said:</span>
                <button mat-button class="auth-1-right-1" >9484 <mat-icon>favorite_border</mat-icon></button>
        </div>
        <div class="card-block">
          come to Esl lesson plans collection
  Download free Esl lessons and lesson plans. Available in printable formats. You can also share your lesson plans here..
  In this collection, you can post blogs, forums, photos, videos on this topic.
        </div>
        <div class="card-footer">
           <span class="date">Posted 2018/03/31</span>
           <button mat-button class="float-right" color="warn"><mat-icon>reply</mat-icon> Reply</button>
        </div>
      </div>
      <div class="card mar-20">
          <div class="connector" [ngStyle]="{'background-color': collection.color}"></div>
        <div class="card-header">
                <img  [src]='collection.photoURL' [alt]='collection.title' class="img-thumbnail forum-user" [ngStyle]="{'background-color': collection.color}">
                <span >Oj Obasi Said:</span>
                <button mat-button class="auth-1-right-1" >9484 <mat-icon>favorite_border</mat-icon></button>
        </div>
        <div class="card-block">
          come to Esl lesson plans collection
  Download free Esl lessons and lesson plans. Available in printable formats. You can also share your lesson plans here..
  In this collection, you can post blogs, forums, photos, videos on this topic.
        </div>
        <div class="card-footer">
           <span class="date">Posted 2018/03/31</span>
           <button mat-button class="float-right" color="warn"><mat-icon>reply</mat-icon> Reply</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-ads-right></app-ads-right>
      <mat-card class="mar-20">Recent Forums titles</mat-card>
      <app-ads-content-match></app-ads-content-match>
    </div>
  </div>
</section>
