<section #pageRef>
  <div class="row forum"  *ngIf="forum && collection" >
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" [ngStyle]="{'background-color': collection.color}">
                 <img [src]='forum.avatar' [alt]='forum.username' class="img-thumbnail forum-user-1">
                 <div class="auth-1 font-wight-bold"><a>{{forum.username}}</a> Forum Author</div>
                 <div><small class="text-muted">{{forum.updatedAt | amTimeAgo}}</small></div>
                 <button mat-button class="auth-1-right" color="warn" (click)="onReply()"><mat-icon>reply</mat-icon> Reply</button>

                 <button class="menu-button" mat-icon-button [matMenuTriggerFor]="forumMenu">
                    <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #forumMenu="matMenu" xPosition="before">
                        <div *ngIf="_auth.user | async; then authenticated else guest"></div>
                        <ng-template #guest>
                           <a mat-menu-item>Report</a>
                        </ng-template>
                        <ng-template #authenticated>
                          <ng-container *ngIf="_auth.user | async as user">
                              <a mat-menu-item>Report</a>
                              <a mat-menu-item *ngIf=" user.uid === forum.uid" routerLink="/collections/editforum/{{forum.title | slugify}}"
                              [queryParams]="{ key: forum.id}" [fragment]="forum.collectionKey">Edit forum</a>
                              <a mat-menu-item *ngIf=" user.uid === forum.uid" (click)="onDelete(forum.id)">Delete</a>
                          </ng-container>
                        </ng-template>
                    </mat-menu>
        </div>
        <div class="card-block">
          <h1 class="font-weight-bold h3 main-title">{{forum.title}}</h1>
         <div [innerHTML]="forum.description"></div>
        </div>
        <div class="card-footer">
            <span class="date">Posted {{forum.updatedAt}}</span>
           <button mat-button class="float-right" color="warn" (click)="onReply()"><mat-icon>reply</mat-icon> Reply</button>
        </div>
      </div>
      <span  #replyRef></span>
      <ng-container *ngIf="reply_new">
        <div class="card mar-20">
          <reply-creator (newreply)="replyClose($event)" [forum]="forum"></reply-creator>
        </div>
      </ng-container>
         <app-forum-reply
         [forum]="forum"
         [collection]="collection"
         (replynew)="onReplyButton($event)"
         ></app-forum-reply>
    </div>
    <div class="col-md-4">
      <app-ads-right></app-ads-right>
      <mat-card class="mar-20">Recent Forums titles</mat-card>
      <app-ads-content-match></app-ads-content-match>
    </div>
  </div>
</section>
