<div  #pageRef></div>
<loading [load]="(loading$ | async)"></loading>
<main *ngIf="page && collection && (loading$ | async)" >
  <div class="page">
    <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-lg-8">
                <button class="menu-button" mat-icon-button [matMenuTriggerFor]="pageMenu">
                    <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #pageMenu="matMenu" xPosition="before">
                        <div *ngIf="_auth.user | async; then authenticated else guest"></div>
                        <ng-template #guest>
                           <a mat-menu-item>Report</a>
                        </ng-template>
                        <ng-template #authenticated>
                          <ng-container *ngIf="_auth.user | async as user">
                              <a mat-menu-item>Report</a>
                              <a mat-menu-item *ngIf=" user.uid === page.uid" routerLink="/collections/editpage/{{page.title | slugify}}"
                              [queryParams]="{ key: page.id}" [fragment]="page.collectionKey">Edit Page</a>
                              <a mat-menu-item *ngIf=" user.uid === page.uid" (click)="onDelete(page.id)">Delete</a>
                          </ng-container>
                        </ng-template>
                    </mat-menu>
                <mat-card-header>
                    <mat-card-title class="h1" [innerHTML]="page.title"></mat-card-title>
                    <mat-card-subtitle>
                      <img  mat-card-avatar [src]="page.avatar" [alt]="page.uid">
                        <a routerLink=""> {{page.username}}</a>
                        posted on <a routerLink="/collections/{{page.collection | slugify }}" fragment="{{page.collectionKey}}"><strong>{{page.collection}}</strong></a> <span>{{page.createdAt}}</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <app-share [content]="page" class="mar-30"></app-share>
              <div  [innerHTML]="page.page" class="mar-20 main-content"></div>

              <mat-divider></mat-divider>
              <div class="mar-20"></div>
              <page-comment [page]="page"></page-comment>
            </div>
            <div class="col-lg-4 content-right">
                <app-ads-content-match></app-ads-content-match>


                <mat-card class="mar-20" *ngIf="pages">
                    <mat-card-header>
                      Recent Similar Pages:
                    </mat-card-header>
                  <div class="clearfix li_t" *ngFor="let pageLike of pages; let i=index">
                  <div *ngIf="i < 5 && pageLike.id !== page.id">
                      <mat-divider></mat-divider>
                      <a routerLink="/collections/{{collection.title | slugify}}/pages/{{pageLike.title | slugify}}/{{pageLike.id}}" fragment="{{pageLike.collectionKey}}">
                      <img [src]="pageLike.avatar" [alt]="pageLike.username" class="img-thumbnail forum-user float-left" [ngStyle]="{'background-color': collection.color}">
                        <h1 class="title h6">{{pageLike.title | shorten: '100'}}</h1>
                        <div class="date text-muted float-right">{{pageLike.updatedAt | amTimeAgo}}</div>
                      </a>
                  </div>
                  </div>
                  </mat-card>
                  <app-ads-right></app-ads-right>
                  <div class="mar-20"></div>
                  <app-ads-right-2></app-ads-right-2>
            </div>
          </div>
        </mat-card-content>
    </mat-card>
  </div>

</main>
