


.mat-card-title.h1 {
  font-size: 2.5rem;
}

.mat-nav-list .mat-list-item {
  height: auto !important;
  padding-bottom: 10px;
  padding-left: 2px !important;
  color: #006064;
}

.h1, .h4 {
  font-family: "proxima-nova-soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
}

.admins-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 0 5px;
}
.admins-img:hover {
  position: relative;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 9999;
}
.section {
  margin-top: -40px;
}
.card-header {

}
.card-block {
  line-height: 1.9;
}
.page-img {
  min-height: 200px;
}
.page-img:hover {
  position: relative;
  -webkit-transform: scale(2);
  transform: scale(2);
  z-index: 9999;
}
.mat1-card img {
  width: 100% !important;
}

.mat-card-image {
  height: 200px;
}


.checkit {
  position: absolute;
  top: 35px;
  left: 25px;
  z-index: 999;
}
.collection-img {
  position: absolute;
  top: 150px;
  margin-bottom: 10px;
}

.collection-img img {
  width:70px !important;
  height: 70px;
  border-radius: 100%;
}


/*PAGES CSS */
.mat1-card img {
  width: 100% !important;
}

.pages .mat-card-title{
  margin-top: 10px;
  line-height: 1.2;
}


.pag-1 .mat-card{
  height: 380px !important;
  word-break: break-all;
  clear: both;
  overflow: hidden;
}
.page-cart .mat-card-title {
  margin-top: 10px !important;
}

.main-content {
    word-wrap: break-word;
    line-height: 30px;
    font-size: 18px;
    font-family: Georgia,Times New Roman,serif;
}
.card-loader {
  position: absolute;
  top: 0px;
  z-index: 999;
}
.collection-name {
  position: absolute;
  top: 120px;
  color: aliceblue;
}
.text-muted {
  margin-top: 10px !important;
  color: rgba(87, 74, 74, 0.54) !important;
}
.mat-card-title {
  line-height: 1.2;
}
/* END PAGES CSS */
@media screen and (max-width: 992px){
  .h1, h1 {
    font-size: 1.5rem;
  }
  .mat-card-title.h1 {
    font-size: 1.2rem;
   }

  .pag-1 .mat-card{
    height: auto !important;
  }
}
