<div  #pageRef></div>
<loading [load]="(loading$ | async)"></loading>
<main *ngIf="page && (loading$ | async)" >
  <div class="page">
    <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-lg-8">
                <button class="menu-button" mat-icon-button [matMenuTriggerFor]="pageMenu">
                    <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #pageMenu="matMenu" xPosition="before">
                        <div *ngIf="_auth.user | async; then authenticated else guest"></div>
                        <ng-template #guest>
                           <a mat-menu-item>Report</a>
                        </ng-template>
                        <ng-template #authenticated>
                          <ng-container *ngIf="_auth.user | async as user">
                              <a mat-menu-item>Report</a>
                              <a mat-menu-item *ngIf=" user.uid === page.uid" routerLink="/collections/editpage/{{page.title | slugify}}"
                              [queryParams]="{ key: page.id}" [fragment]="page.collectionKey">Edit Page</a>
                              <a mat-menu-item *ngIf=" user.uid === page.uid" (click)="onDelete(page.id)">Delete</a>
                          </ng-container>
                        </ng-template>
                    </mat-menu>
                <mat-card-header>
                    <mat-card-title class="h1" [innerHTML]="page.title"></mat-card-title><span class="text-muted"><em>{{page.status}}</em></span>
                    <mat-card-subtitle>
                      <img  mat-card-avatar [src]="page.avatar" [alt]="page.uid">
                        <a routerLink=""> {{page.username}}</a>
                        posted on <a routerLink="/collections/c/{{page.collection | slugify }}" fragment="{{page.collectionKey}}"><strong>{{page.collection}}</strong></a> <span>{{page.createdAt}}</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <app-share [content]="page" class="mar-30"></app-share>
              <div  [innerHTML]="page.page" class="mar-20 main-content"></div>

              <mat-divider></mat-divider>
              <div class="mar-20"></div>
              <page-comment [page]="page"></page-comment>
            </div>
            <div class="col-lg-4 content-right">
                <app-ads-content-match></app-ads-content-match>

                <mat-nav-list>
                    <div class="display-5">Related Pages:</div>
                    <ng-container *ngFor="let pageOf of pages; let i = index">
                    <ng-container *ngIf="i < 5 && pageOf.id !== page.id">
                    <a  routerLink="/collections/c/mark-_-eye-sjss/pages/{{pageOf.title | slugify }}/{{pageOf.id}}"
                    [fragment]="pageOf.collectionKey" mat-list-item >
                         {{pageOf.title}}
                    </a>
                    </ng-container>
                  </ng-container>
                  </mat-nav-list>
                  <app-ads-right></app-ads-right>
                  <div class="mar-20"></div>
                  <app-ads-right-2></app-ads-right-2>
            </div>
          </div>
        </mat-card-content>
    </mat-card>
  </div>

</main>
