<main class="main">
    <div class="header-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                  <mat-card>
                    <div class="row mar-30">
                      <div class="col-md-6">
                          <mat-form-field class="w-100">
                              <mat-icon matPrefix class="text-muted">location_searching</mat-icon>
                              <mat-select placeholder="Your Location">
                                <mat-option value="option">Your Location</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                      <div class="col-md-6">
                          <mat-form-field class="w-100">
                              <mat-icon matPrefix class="text-muted">location_on</mat-icon>
                              <mat-select placeholder="Reciever Country">
                                <mat-option value="option">Reciever Country</mat-option>
                              </mat-select>
                          </mat-form-field>
                       </div>
                    </div>
                    <div class="row mar-30">
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-icon matPrefix class="text-muted">monetization_on</mat-icon>
                                <input matInput placeholder="Amount">
                              </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-icon matPrefix class="text-muted">monetization_on</mat-icon>
                                <mat-select placeholder="Currency">
                                  <mat-option value="option">Us Dollars</mat-option>
                                  <mat-option value="option">Location Currency</mat-option>
                                </mat-select>
                            </mat-form-field>
                         </div>
                      </div>
                      <div class="row mar-30">
                          <div class="col-md-6">
                              <mat-form-field class="w-100">
                                  <mat-icon matPrefix class="text-muted">business_center</mat-icon>
                                  <mat-select placeholder="Means Of Transaction">
                                    <mat-option value="option">Us Dollars</mat-option>
                                    <mat-option value="option">Location Currency</mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                              <mat-form-field class="w-100">
                                  <mat-icon matPrefix class="text-muted">monetization_on</mat-icon>
                                  <mat-select placeholder="Currency">
                                    <mat-option value="option">Us Dollars</mat-option>
                                    <mat-option value="option">Location Currency</mat-option>
                                  </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                        <mat-checkbox>Accept to term of use and services by Otenn</mat-checkbox>
                        <button mat-raised-button class="w-100 padding-30" disabled> <mat-icon >send</mat-icon> Find Dealers Online</button>
                  </mat-card>

                </div>
                <div class="col-md-6  pull-right">
                    <div [innerHTML]="heading"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 acpt-1">
        <div class="container">
            <img src="./assets/assets/payment.png" alt="Sending methods">
        </div>
    </div>
    <div class="container-fluid">
        <div class="otenn-2">
                <div class="container">
                 <h3 class="title_h"> <span class="primary-text">Send</span> money to your love ones</h3>
                    <div class="row">
                      <div class="col-md-6">
                        <h3 class="desc_01">No more bank fees</h3>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <hr>
                        <h3 class="desc_01">No more bank fees</h3>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                      </div>
                      <div class="col-md-6">
                          <mat-card><div class="box-x-1"></div></mat-card>
                      </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="header-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div [innerHTML]="heading"></div>
                    <p class="mar-30"><span class="app-title">
                        Otenn</span>
                        Allows you to send money back quickly and in a timely manner. From the comfort of your home, No more bank visits, no more huge bank fees. With just a few clicks, your money is deliverd back home.</p>
                    <button mat-raised-button color="accent" class=""  (click)="onCheck()"> Send money now</button>
                </div>
                <div class="col-md-6  pull-right">
                    <div class="intro-right"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="otenn-2">
                <div class="container">
                 <h3 class="title_h"> <span class="primary-text">Send</span> money to your love ones</h3>
                    <div class="row">
                      <div class="col-md-6">
                        <h3 class="desc_01">No more bank fees</h3>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <hr>
                        <h3 class="desc_01">No more bank fees</h3>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                      </div>
                      <div class="col-md-6">
                          <mat-card><div class="box-x-1"></div></mat-card>
                      </div>
                    </div>
                </div>
        </div>
    </div>
</main>

<main class="home-02">
    <div class="cover-home-02">
            <div class="container text-center">
                    <h3 class="font-weight-bold">And Yes! We also do listing!</h3>
                    <p>More than three thousands listing and more in our service.</p>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="number-count font-weight-bold">293,368</span>
                            <div class="listing-name">Places Listed</div>
                        </div>
                        <div class="col-md-4">
                                <span class="number-count font-weight-bold">293,368</span>
                                <div class="listing-name">Community Pages</div>
                        </div>
                        <div class="col-md-4">
                                <span class="number-count font-weight-bold">293,368</span>
                                <div class="listing-name">Stared Ratings</div>
                        </div>
                    </div>
                </div>
    </div>
</main>
<main class="home-2">
    <div class="container text-center">
        <h3 class="font-weight-bold underline"><span class="primary-text">G</span>etting Started</h3>
        <p>We all have to start from somewhere!</p>
        <div class="row">
            <div class="col-md-12">
                Get a start with our <a mat-button routerLink="signup">free account!</a>.<br>
                Do you need any help? Go through our <a mat-button routerLink="userguide">user guide</a> for a quick tour.
            </div>
        </div>
    </div>
</main>
