<div>
    <mat-tab-group>
        <mat-tab  label="Pages">
            <ng-template mat-tab-label>
                <mat-icon>pages</mat-icon><span> Pages</span>
              </ng-template>
          <pages-dashboard *ngIf="collection" [collection]="collection"></pages-dashboard>
        </mat-tab>
        <mat-tab label="Forums">
            <ng-template mat-tab-label>
                <mat-icon>forums</mat-icon><span> Forums</span>
              </ng-template>
            <div class="mar-30">
                <forums-dashboard *ngIf="collection" [collection]="collection"></forums-dashboard>
            </div>
        </mat-tab>
        <mat-tab label="Videos">
            <ng-template mat-tab-label>
                <mat-icon>video_library</mat-icon><span> Videos</span>
              </ng-template>
            <div class="mar-30">
                Videos
            </div>
        </mat-tab>
        <mat-tab label="Photos">
            <ng-template mat-tab-label>
                <mat-icon>photo_library</mat-icon><span> Photos</span>
              </ng-template>
            <div class="mar-30">
                Photos
            </div>
        </mat-tab>
        <mat-tab label="Logs">
            <ng-template mat-tab-label>
                <mat-icon>data_usage</mat-icon><span> Admin Logs</span>
              </ng-template>
            <div class="mar-30">
                Logs
            </div>
        </mat-tab>
      </mat-tab-group>


</div>
